form {
    margin-top: 25px;

    p {
        font-weight: 500;
        color: #1C1D22;
        line-height: 16px;
        display: flex;
        flex-direction: column;
        font-weight: 600;
        
        span {
            padding-left: 15px;
        }
    }

    input {
        margin-top: 6px;
        padding: 18px 0px 18px 14px;
        background: #E8E8E8;
        border-radius: 4px;
        margin-bottom: 15px;
        border: none;

        &:focus {
            outline: none;
            border: 0.5px solid #1877F2;
            color: #5B5B5B;
        }

        &::placeholder {
            font-size: 14px;
            line-height: 16px;
            color: #5B5B5B;
        }

        &::placeholder {
            font-family: 'Open Sans', sans-serif;
        }
    }

    textarea {
        margin-top: 5px;
        padding: 18px 0px 18px 14px;
        background: #E8E8E8;
        border-radius: 4px;
        height: 125px;
        resize: none;
        border: none;

        &:focus {
            outline: none;
            border: 0.5px solid #1877F2;
            color: #5B5B5B;
        }

        &::placeholder {
            font-size: 14px;
            font-family: 'Open Sans', sans-serif;
            line-height: 16px;
            color: #5B5B5B;
        }
    }

    button {
        width: 100%;
        background: #2ECC6E;
        border-radius: 5px;
        border: none;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        color: #FFFFFF;
        padding: 16px 0px;
        margin-top: 10px;
        text-transform: uppercase;
        cursor: pointer;
    }
}