.allTime {
    background-color: #E8E8E8;
    padding: 15px 0 15px 0;
    align-items: center;
    display: flex;
    margin-bottom: 15px;
    border-radius: 5px;

    span {
        margin-right: 20px;
    }

    .toggleWrapper {
        margin-top: 0;
    }
}

.workTimeContainer {
    display: flex;
    justify-content: space-between;
}

.workTime {
    font-weight: normal;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    span {
        padding: 0;
        padding-right: 10px;
        color: #555;
        margin-bottom: 9px;
        font-weight: 600;
    }

    .workTimeInput {
        max-width: 100px;
        margin-right: 10px;
        text-align: center;
        padding: 18px 0;

        &:last-child {
            margin-right: 0px;
        }
    }
}

.weekendsContainer {
    display: flex;
    margin: 5px 0 15px;

    .weekendsDay {
        user-select: none;
        padding: 15px;
        margin-right: 15px;
        border-radius: 5px;
        background-color: #e8e8e8;
        cursor: pointer;

        &:hover {
            color: #fff;
            background-color: #2F75FB;
        }
    }

    .weekendsDaySelected {
        background: #2F75FB;
        color: #fff;
    }
}


.pointOnMap {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 0;
}

.fileUpload {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e8e8e8;
    border-radius: 5px;
    padding: 15px 20px;

    .fileUploadTitle {
        font-weight: normal;
        color: #5c5c5c;
    }

    .fileUploadCancel {
        border-radius: 5px;
        background-color: #d2d0d0;
        padding: 10px;
        color: #5c5c5c;
        cursor: pointer;

        &:hover {
            background-color: #2F75FB;
            color: #fff;
        }
    }
}

.compayClose {
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 12px;
}