.cardContainer {
    max-width: 330px;
    margin: 0 auto;
}

.categoryCard {
    vertical-align: top;
    display: inline-block;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    max-width: 380px;
    padding: 20px;
    // max-height: 600px;
    height: 100%;
    overflow: hidden;
    margin-right: 10px;
}

.selectList {
    position: relative;
    select {
        max-width: 330px;
        width: 330px;
        padding: 15px 12px;
        background: rgba(238, 238, 238, 0.6);
        border: 0.5px solid #BCBCBC;
        border-radius: 90px;
        color: #686868;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        option {
            background-color:#fff;
            outline: none;
            border: none;
            border-radius: 5px;
            color: #000000;
            font-size: 14px;
            margin: 50px 0;
            font-style: normal;
            font-weight: normal;

            &:hover {
                background-color: red;
            }
        }
    }

    .dropIcon {
        position: absolute;
        top: 35%;
        right: 5%;
    }
}

.cardCategories {
    .categoriesTitle {
        color: #313131;
    }

    .categoriesList {
        margin-bottom: 15px;
        display: flex;
        flex-wrap: wrap;
    }
}

.aboutPlace {
    margin-top: 20px;
    height: 52%;

    .locate {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .locateBtn {
            cursor: pointer;
            user-select: none;
            background-color: #f5f5f5;
            width: 100%;
            text-align: center;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            padding: 10px 0;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;

            &:hover {
                color: #fff;
                background-color: #2f75fb;
            }

            &:first-child {
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
        }

        .activeLocate {
            background-color: #2ECC6E;
            color: #fff;
        }
    }

    .places {
        width: 100%;
        background-color: #f5f5f5;
        border-radius: 5px;
        padding: 20px;
        margin-top: 20px;
        overflow-y: scroll;
        // max-height: 165px;
        height: 50%;
    }

}

.editContainer {
    overflow-y: scroll;
    max-width: 520px;
}