.visible {
    display: inline-block;
}

.companyCard {
    display: inline-block;
    vertical-align: top;
    overflow-x: hidden;
    overflow-y: scroll;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    max-width: 400px;
    // max-height: 580px;
    height: 100%;
    margin-right: 10px;

    .companyTitle {
        width: 100%;
        background: rgba(238, 238, 238, 0.8);
        padding: 18px 0 13px 19px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
    }

    .companyClose {
        position: absolute;
        right: 20px;
        cursor: pointer;
        top: 12px;
    }

    .companyImage {
        width: 100%;
        height: 214px;
        overflow: hidden;
        
        img {
            max-width: 100%;
            width: 100%;
        }
    }

    .companyMark {
        max-height: 50px;
        display: flex;
        align-items: center;
        background-color: #EEEEEE;
        overflow: hidden;
        justify-content: space-between;

        .markCount {
            display: flex;
            align-items: center;

            .markNumber {
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 25px;
                color: #fff;
                background-color: #2ECC6E;
                padding: 15px 20px;
            }

            .markText {
                margin-left: 20px;
            }
        }
    }

    .markAction {
        // padding: 15px 0;s
        display: flex;
        
        .selectedLike {
            background-color: #2ECC6E;
        }

        .selectedDislike {
            background-color: #2ECC6E;
        }

        .markEst {
            padding: 12px;

            &:hover {
                background-color: #2F75FB;
            }
        }
    }

    .communicate {
        border-bottom: 0.5px solid #C9C9C9;

        .communicateList {
            display: flex;
            justify-content: space-evenly;
            margin-top: 15px;
            margin-bottom: 10px;

            a {
                font-size: 10px;
                color: black;
            }

            li {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 5px;

                p {
                    margin-top: 10px;
                    font-size: 10px;
                }

                &:hover {
                    background: rgba(238, 238, 238, 0.8);
                    border-radius: 5px;
                }
            }
        }
    }

    .companyLocate {
        padding: 25px 0;
        margin-left: 25px;
        padding-left: 30px;
        background: url("../../images/companyLocate.png") no-repeat left center;
        background-size: 23px 23px;
    }

    .specialize {
        padding: 17px 30px;
        font-size: 12px;
        line-height: 16px;
        border-top: 0.5px solid #C9C9C9;

        span {
            font-weight: 600;
        }
    }

    .generalInfo {

        .generalTitle {
            padding: 12px 0;
            font-weight: 600;
            // background: ;
            font-size: 12px;
            line-height: 16px;
            padding-left: 60px;
            background: #EEEEEE url("../../images/info.png") no-repeat left center;
            background-size: 23px 23px;
            background-position-x: 20px;
        }

        .generalDescription {
            padding: 0 20px 15px 20px;
            margin-top: 12px;
            font-size: 12px;
            line-height: 16px;
            text-align: left;
        }
    }

    .workTimeToday {
        border-top: 0.5px solid #ddd;
        border-bottom: 0.5px solid #ddd;
        padding: 15px 0;
        padding-left: 20px;
        font-size: 16px;
        font-weight: 600;
        color: #444;
    }

    .table {
        display: flex;
        background-color: #EEE;
    }
    .tableDay {
        display: flex;
        flex-direction: column;
        text-align: center; 
        padding: 7px; 

        .tableDayTitle {
            background-color: #fff;
            padding: 10px;
            border-radius: 5px;
        }

        .tableDayTime {
            margin-top: 5px;
            font-size: 11px;
            display: flex;
            flex-direction: column;
        }

        .tableDayActive {
            background-color: #2F75FB;
            color: #fff;
        }

        .tableDayWeekend { 
            background-color: #ff5151;
            color: #fff;
        }
    }

    .coffeeTime {
        padding: 15px 0;
        padding-left: 20px;
        font-size: 16px;
        font-weight: 600;
        color: #444;
    }

    .contactContainer {
        .contactTitle {
            width: 100%;
            background-color: #EEE;
            padding: 10px 0;
            padding-left: 20px;
            font-weight: 600;
            font-size: 16px;
            color: #444;
        }

        .contact {
            padding: 10px 0;
            padding-left: 20px;
            font-weight: 600;
            color: #444;
            white-space: normal;

            span {
                font-weight: normal;
                padding-top: 5px;
            }

            a {
                color:#2F75FB;
            }
        }
    }

    .commentContainer {
        .commentTitle {
            width: 100%;
            background-color: #EEE;
            padding: 10px 0;
            padding-left: 20px;
            font-weight: 600;
            font-size: 16px;
            color: #444;
        }

        .comment {
            border-bottom: 0.5px solid #C9C9C9;
            &:last-child {
                border-bottom: none;
            }
        }

        .commentBlock {
            margin: 10px 0;
            border-bottom: 0.5px solid #C9C9C9;

            .commentAuthor {
                padding-left: 20px;
                margin-top: 10px;
                font-size: 14px;
                color: #444;
                font-weight: 600;
            }

            .commentDate {
                padding-left: 20px;
                font-size: 12px;
                color: rgb(143, 143, 143);
            }

            .commentText {
                padding-left: 20px;
                margin-top: 15px;
                margin-bottom: 15px;
            }
        }

        .commentBtn {
            margin-top: 15px;
            width: 100%;
            background-color: #2F75FB;
            border-radius: 5px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            padding: 15px 0;
            color: #fff;
            cursor: pointer;
            text-align: center;
        }
    }
}

.small {
    font-size: 14px;
    font-weight: normal;
}