* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



button {
    font-family: 'Open Sans', sans-serif;
}

input {
  &::placeholder {
    font-family: 'Open Sans', sans-serif;
  }
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: #C4C4C4;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.map-container {
    height: 100vh;
}

.hide {
  display: none;
}

.visible {
    display: block;
}

.notif {
    color: #fff;
    background-color: rgb(49, 49, 49);
    padding: 10px 15px;
    top: -50px;
    position: absolute;
    border-radius: 3px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    right: 0;
    left: 0;
}

// Marker

.markerContainer {
  position: absolute;
  right: 3%;
  bottom: 4%;

  &:hover {
    cursor: pointer;
    .markerHover {
      display: block;
    }
  }
}

.markerHover {
  display: none;
  position: absolute;
  bottom: 130%;
  left: -110%;
  width: 160px;
  background-color: #2ECC6E;
  color: #fff;
  border-radius: 5px;
  padding: 5px 7px;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
}

.markerCreator {
  background-color: #2ECC6E;
  padding: 20px;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  // position: absolute;
  // bottom: 4%;
  // right: 2%;
}

// Header

header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;

    .btns-wrapper {
        display: flex;
    }

    .btn {
        cursor: pointer;
        padding: 12px 25px;
        background: #2F75FB;
        border-radius: 5px;
        color: #FFFFFF;
        font-weight: 600;
        text-transform: uppercase;
        margin-left: 25px;
    }

    .register-btn {
        background-color: #25bb58;
    }
}

// Card categories

.category-item {
    background: #9A9A9A;
    padding: 12px;
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 90px;
    transition: background 0.1s;

    &:hover {
        background: #2ECC6E;
        transition: background 0.1s;
    }

}

.place {
    margin-top: 15px;
    padding-bottom: 15px;

    .placeTitle {
        color: #000000;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
    }

    .placeDescription {
        font-size: 12px;
        line-height: 16px;
        color: #737373;
        margin-top: 10px;
    }

    border-bottom: 0.5px solid #C0C0C0;
     
    &:last-child {
        border: none;
        padding-bottom: 0;
    }

    &:first-child {
        margin-top: 0;
    }
}

.paper:hover {
    background: #15a42b;
}
.glass:hover {
    background: #189fe0;
}
.bottle:hover {
    background: #ff9a50;
}
.tin:hover {
    background: #f45397;
}
.clothes:hover {
    background: #eb4444;
}
.gadget:hover {
    background: #3cbe93;
}
.radioactive:hover {
    background: #afff00;
}
.battery:hover {
    background: #ffa81f;
}
.lamp:hover {
    background: #ffea3b;
}
.technique:hover {
    background: #70a8ff;
}
.package:hover {
    background: #b3764a;
}
.beer:hover {
    background: #f2390f;
}
.tires:hover {
    background: #202020;
}

//Loader

.loaderWrapper {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    position: fixed;
}

.loader {
    color: #ffffff;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 22% auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }
  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }
  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  .selected {
    background-color: #2ECC6E;
  }

  .upload-file-title {
    padding-left: 15px;
    margin-bottom: 5px;
    color: #1C1D22;
    line-height: 16px;
    display: flex;
    flex-direction: column;
    font-weight: 600;
  }

  .input__wrapper {
    width: 100%;
    position: relative;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
  }
   
  .input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
   
  .input__file-icon-wrapper {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-right: 1px solid #fff;
  }
   
  .input__file-button-text {
    line-height: 1;
    margin-top: 1px;
  }
   
  .input__file-button {
    width: 100%;
    max-width: 330px;
    height: 60px;
    background: #2ECC6E;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-radius: 5px;
    cursor: pointer;
  }

.innerCard {
  z-index: 1;
  position: absolute;
  margin: 2%;
  max-width: 1000px;
}